.container{
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
}

.form button[type="submit"] {
  width: 25%;
}

.lists{
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
}

.list{
  display: flex;
  flex-direction: column;
  width: 100%;
}



#buttons-container{
  width: 100%;
  display: none;
}

#buttons-container button {
  width: 24%;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px
}

.visible-flex {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
