.container{
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
}

.form button {
  width: 25%;
}

.lists{
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
}

.list{
  display: flex;
  flex-direction: column;
  width: 100%;
}
