{% extends 'base.html' %}
{% load static %}

{% block title %}post editor{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'blog/edit.css' %}"> 
{% endblock %}

{% block content %}
 <section>
  <h1>Post editor</h1>
  <form action="/", method="POST">
    <input type="text" name="title" value="{{post.title}}" />
    <textarea rows="20" cols="100" name="content">{{post.content}}</textarea>
    <select>
      {% for option in options %}
      <option value="{{option.value}}">{{option.name}}</option> 
      {% empty %}
      <option value="">---</option>
      {% endfor %}
    </select>
    <select>
      {% for author in users %}
      <option value="{{author.value}}">{{author.name}}</option>
      {% empty %}
      <option value="">---</option>
      {% endfor %}
    </select>
    <button type="submit">submit</button>
  </form>
 </section>
{% endblock %}
