{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">  
{% endblock %}

{% block content %}
<section class="container">
  <div class="content header">
 <h1>{{ post.title }}</h1> 
 <div>
  <small>{{ post.slug }}</small>
 </div>
 <div>
  <small>author: {{ post.author.username }}</small>
 </div>
 <div>
   <small>published: {% firstof post.edited post.created %}</small>
 </div>   
  </div>
 <div class="content">{{ post.content | safe }}</div>
 <!-- TODO: add a form to add the comments. -->
 <form action="/comment/{{post.id}}" method="POST" class=".comment-form">
   {% csrf_token %}
   <label for="text">comment: </label>
  <input type="text" name="text" />
  <button type="submit">save</button>
 </form>
 <div class="comments">
   {% for comment in comments %}
   <span class="comment">{{comment.author.username}}: {{comment.text}}</span>
   {% endfor %}
 </div>
</section>
{% endblock %}
