{% extends "base.html" %}
{% load static %}

{% block title %}sign up{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'blog/login.css'%}">
{% endblock %}

{% block content %}
  <section>
    <form action="/signup/" method="POST">
      {% csrf_token %}  
      <label for="username">username: </label>
      <input type="text" name="username" required/>
      <label for="email">email: </label>
      <input type="email" name="email" required/>
      <label for="password">password: </label>
      <input type="password" name="password" required/>
      <label for="password_confirmation">confirm password: </label>
      <input type="password" name="password_confirmation" required/>
      <button type="submit">sign in</button>
    </form>
  </section>
{% endblock %}
